@import '_mediaqueries.scss';
// .grid-1-4 {
//     width: 100%;
//     @include breakpoint(phablet) {
//         width: 50%;
//     }
//     @include breakpoint(laptop) {
//         width: 25%;
//     }
// }
// .grid-1-3 {
//     width: 100%;
//     @include breakpoint(phablet) {
//         width: 33.3%;
//         min-height: 290px;
//     }
// }
// .grid-1-2 {
//     width: 100%;
//     @include breakpoint(tablet) {
//         width: 50%;
//     }
// }
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

content {
    width: 90%;
    margin: 0 5%;
    @include clearfix;
}

@for $i from 1 through 12 {
    .col-lg-#{$i} {
        float: left;
        width: percentage($i/12);
    }
    .col-md-#{$i} {
        @include breakpoint(tablet) {
            float: left;
            width: percentage($i/12);
        }
    }
    .col-sm-#{$i} {
        @include breakpoint(mobile) {
            float: left;
            width: percentage($i/12);
        }
    }
}